* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 20px/3.8 Helvetica, sans-serif;
}

span {
    /* display: block; */
    width: 6em;
    height: 4em;
    border: 1px solid black;
    text-align: center;
}

.container {
    display: flex;
    margin: 2em;
    flex-direction: column;
    align-items: center;
    max-width: 15vw;
    height: 35rem;
    gap: 0.3em;
    flex-wrap: wrap;
}

.container span:nth-child(1) { order: 9;}
.container span:nth-child(2) { order: 2;}
.container span:nth-child(3) { order: 10;}
.container span:nth-child(4) { order: 4;}
.container span:nth-child(5) { order: 8;}
.container span:nth-child(6) { order: 7;}
.container span:nth-child(7) { order: 11;}
.container span:nth-child(8) { order: 5;}
.container span:nth-child(9) { order: 6;}
.container span:nth-child(10) { order: 12;}
.container span:nth-child(11) { order: 1;}
.container span:nth-child(12) { order: 3;}