.app h3 {
    text-align: center;
}

.list-item {
    display: inline;
    list-style: none;
    background-color: pink;
    margin-left: 10px;
    padding: 10px;
}

.list-item:hover {
    background-color: lightblue;
    cursor: pointer;
}